@{
    ViewData["Title"] = "About Us";
}

<!-- Container for background -->
<div class="container bg-light p-4 rounded mt-4">
    <div class="jumbotron text-center bg-primary text-white p-5 rounded">
        <h1 class="display-4">About Sanskari Vidhyalay</h1>
        <p class="lead">Learn more about our history, mission, and the people who make our school special.</p>
    </div>

    <div class="row my-5">
        <div class="col-md-12">
            <h2>Our Mission</h2>
            <p>
                At Sanskari Vidhyalay, we are dedicated to providing an inclusive and nurturing environment that encourages students to excel academically, socially, and emotionally. Our mission is to empower students with the knowledge, skills, and values needed to thrive in a rapidly changing world.
            </p>
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-4">
            <img src="~/images/history.jpg" class="img-fluid rounded" alt="Our History">
        </div>
        <div class="col-md-8">
            <h2>Our History</h2>
            <p>
                Founded in [Year], Sanskari Vidhyalay has grown from a small community school into one of the region's most respected educational institutions. Over the years, we have expanded our facilities and programs to better serve the diverse needs of our students.
            </p>
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-8">
            <h2>Our Faculty</h2>
            <p>
                Our faculty members are passionate educators dedicated to fostering a love of learning in their students. With a diverse range of expertise and a commitment to professional development, our teachers ensure that each student receives a high-quality education tailored to their individual needs.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/faculty.jpg" class="img-fluid rounded" alt="Our Faculty">
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-12">
            <h2>Image Gallery</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery1.jpg" class="img-fluid rounded" alt="Gallery Image 1">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery2.jpg" class="img-fluid rounded" alt="Gallery Image 2">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery3.jpg" class="img-fluid rounded" alt="Gallery Image 3">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery4.jpg" class="img-fluid rounded" alt="Gallery Image 4">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery5.jpg" class="img-fluid rounded" alt="Gallery Image 5">
                </div>
                <div class="col-md-4 mb-3">
                    <img src="~/images/gallery6.jpg" class="img-fluid rounded" alt="Gallery Image 6">
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-12 text-center">
            <h2>Contact Us</h2>
            <p>If you have any questions or would like more information, please feel free to <a href="Contact">contact us</a>.</p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Custom scripts can be added here
    </script>
}
