@{
    ViewData["Title"] = "Home Page";
}

<!-- Container for background -->
<div class="container bg-light p-4 rounded mt-4">
    <div class="jumbotron text-center bg-primary text-white p-5 rounded">
        <h1 class="display-4">Welcome to Sanskari Vidhyalay</h1>
        <p class="lead">A place where education meets excellence.</p>
    </div>

    <div class="row my-5">
        <div class="col-md-8">
            <h2>Our Mission</h2>
            <p>
                At Sanskari Vidhyalay, we aim to foster a positive and inclusive learning environment where students
                are encouraged to reach their full potential. Our mission is to provide a holistic education that
                nurtures intellectual, emotional, and social development.
            </p>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2020/01/23/09/54/rocket-4787361_960_720.jpg" class="img-fluid rounded" alt="Our Mission">
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-4">
            <img @*src="https://iper.ac.in/wp-content/uploads/2024/02/1-6.jpg"*@ class="img-fluid rounded" alt="Events">
        </div>
        <div class="col-md-8">
            <h2>Recent News & Events</h2>
            <ul class="list-unstyled">
                <li class="media my-4">
                    <img src="https://as1.ftcdn.net/v2/jpg/03/66/11/72/1000_F_366117227_klCud9ufnL13ApKmpVIgCyIfQrlZOc5y.jpg" class="mr-3 img-thumbnail" alt="News 1">
                    <div class="media-body">
                        <h3 class="mt-0 mb-1">Annual Sports Day</h3>
                        <p>
                            Join us for a day of fun and excitement as we celebrate our Annual Sports Day. This event promises to be filled with thrilling competitions, team spirit, and community bonding. Students will participate in a variety of sports activities, showcasing their athletic skills and sportsmanship.

                            There will be races, relays, and field events, as well as fun games and activities for all age groups. Parents and staff are encouraged to join in the festivities and cheer on the participants. Refreshments will be available, and there will be special performances and awards ceremonies throughout the day.

                            Don't miss this opportunity to support our students and enjoy a day of physical activity and camaraderie. Mark your calendars and come celebrate with us!
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="https://img.freepik.com/free-vector/hand-drawn-science-education-background_23-2148499325.jpg?w=740&t=st=1722181756~exp=1722182356~hmac=a07ea9dd0d52c828597aa4f55d91c973093367003bb199ac3a5e9833bd68b83b" class="mr-3 img-thumbnail" alt="News 2">
                    <div class="media-body">
                        <h3 class="mt-0 mb-1">Science Exhibition</h3>
                        <p>
                            Our students showcase their scientific talents in our upcoming Science Exhibition. This event will feature a wide array of projects and experiments that demonstrate creativity, innovation, and a deep understanding of scientific principles.

                            Attendees will have the opportunity to explore interactive displays, watch live demonstrations, and engage with young scientists as they explain their work. From biology and chemistry to physics and environmental science, the exhibition will cover a diverse range of topics, highlighting the students' hard work and dedication.

                            Join us to celebrate the ingenuity and curiosity of our students. This is a fantastic opportunity to support and encourage their scientific endeavors while learning something new and exciting. We look forward to seeing you there!
                        </p>
                    </div>
                </li>
                <li class="media my-4">
                    <img src="https://media.istockphoto.com/id/491050030/photo/lantern.webp?s=1024x1024&w=is&k=20&c=R2ayBS1AiAcoGd2OTs6Zfs62NwEuFZ8OO3GSRxvJb40=" class="mr-3 img-thumbnail" alt="News 3">
                    <div class="media-body">
                        <h3 class="mt-0 mb-1">Cultural Fest</h3>
                        <p>
                            A celebration of our diverse cultural heritage through performances and exhibitions. This vibrant event will feature a rich tapestry of music, dance, and art from various cultures, showcasing the talents and traditions of our students.

                            Join us for a day filled with colorful performances, traditional attire, and cultural exhibits that highlight the unique backgrounds and stories within our community. Enjoy performances ranging from classical dances and folk music to contemporary acts that blend different cultural influences.

                            Our Cultural Fest is not just an event; it's a journey through the diverse cultural landscapes that our students represent. It's an opportunity to learn, appreciate, and celebrate the rich heritage that makes our community so special. We look forward to your presence at this joyous celebration!
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-8">
            <h2>About Us</h2>
            <p>
                Sanskari Vidhyalay has been providing quality education since its inception. Our dedicated staff and
                state-of-the-art facilities ensure that our students receive the best education possible.
            </p>
            <a href="/Home/About" class="btn btn-primary">Learn More</a>
        </div>
        <div class="col-md-4">
            <img src="path/to/about-us-image.jpg" class="img-fluid rounded" alt="About Us">
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-4">
            <img src="path/to/contact-us-image.jpg" class="img-fluid rounded" alt="Contact Us">
        </div>
        <div class="col-md-8">
            <h2>Contact Us</h2>
            <p>
                Have any questions or need more information? Feel free to get in touch with us.
            </p>
            <a href="/Home/Contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-md-8">
            <h2>Enroll for Admission</h2>
            <p>
                Ready to join us? Click the button below to start your admission process. We are excited to welcome new students to our community.
            </p>
            <a href="/Home/AddmissionCriteria" class="btn btn-primary">Enroll Now</a>
        </div>
        <div class="col-md-4">
            <img src="~/images/enroll.jpg" class="img-fluid rounded" alt="Enroll Now">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Custom scripts can be added here
    </script>
}
